<a href="https://colab.research.google.com/github/hpt09/ResumeParser/blob/master/Provided_Resources/EditedNameExtractionUsingSnorkel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install snorkel
!pip install nltk
!pip install spacy

Requirement already satisfied: snorkel in /opt/conda/lib/python3.8/site-packages (0.9.6)
Requirement already satisfied: numpy<2.0.0,>=1.16.0 in /opt/conda/lib/python3.8/site-packages (from snorkel) (1.19.1)
Requirement already satisfied: pandas<2.0.0,>=0.25.0 in /opt/conda/lib/python3.8/site-packages (from snorkel) (1.1.1)
Requirement already satisfied: tensorboard<2.0.0,>=1.14.0 in /opt/conda/lib/python3.8/site-packages (from snorkel) (1.15.0)
Requirement already satisfied: scikit-learn<0.22.0,>=0.20.2 in /opt/conda/lib/python3.8/site-packages (from snorkel) (0.21.3)
Requirement already satisfied: torch<2.0.0,>=1.2.0 in /opt/conda/lib/python3.8/site-packages (from snorkel) (1.6.0)
Requirement already satisfied: tqdm<5.0.0,>=4.33.0 in /opt/conda/lib/python3.8/site-packages (from snorkel) (4.48.2)
Requirement already satisfied: scipy<2.0.0,>=1.2.0 in /opt/conda/lib/python3.8/site-packages (from snorkel) (1.5.2)
Requirement already satisfied: networkx<2.4,>=2.2 in /opt/conda/lib/python3.8/site-packages (from snorkel) (2.3)
Requirement already satisfied: munkres>=1.0.6 in /opt/conda/lib/python3.8/site-packages (from snorkel) (1.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas<2.0.0,>=0.25.0->snorkel) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.8/site-packages (from pandas<2.0.0,>=0.25.0->snorkel) (2020.1)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /opt/conda/lib/python3.8/site-packages (from tensorboard<2.0.0,>=1.14.0->snorkel) (0.35.1)
Requirement already satisfied: protobuf>=3.6.0 in /opt/conda/lib/python3.8/site-packages (from tensorboard<2.0.0,>=1.14.0->snorkel) (3.12.4)
Requirement already satisfied: markdown>=2.6.8 in /opt/conda/lib/python3.8/site-packages (from tensorboard<2.0.0,>=1.14.0->snorkel) (3.2.2)
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.8/site-packages (from tensorboard<2.0.0,>=1.14.0->snorkel) (1.15.0)
Requirement already satisfied: werkzeug>=0.11.15 in /opt/conda/lib/python3.8/site-packages (from tensorboard<2.0.0,>=1.14.0->snorkel) (1.0.1)
Requirement already satisfied: grpcio>=1.6.3 in /opt/conda/lib/python3.8/site-packages (from tensorboard<2.0.0,>=1.14.0->snorkel) (1.31.0)
Requirement already satisfied: absl-py>=0.4 in /opt/conda/lib/python3.8/site-packages (from tensorboard<2.0.0,>=1.14.0->snorkel) (0.10.0)
Requirement already satisfied: setuptools>=41.0.0 in /opt/conda/lib/python3.8/site-packages (from tensorboard<2.0.0,>=1.14.0->snorkel) (49.6.0.post20200814)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from scikit-learn<0.22.0,>=0.20.2->snorkel) (0.16.0)
Requirement already satisfied: future in /opt/conda/lib/python3.8/site-packages (from torch<2.0.0,>=1.2.0->snorkel) (0.18.2)
Requirement already satisfied: decorator>=4.3.0 in /opt/conda/lib/python3.8/site-packages (from networkx<2.4,>=2.2->snorkel) (4.4.2)
Requirement already satisfied: nltk in /opt/conda/lib/python3.8/site-packages (3.5)
Requirement already satisfied: regex in /opt/conda/lib/python3.8/site-packages (from nltk) (2020.7.14)
Requirement already satisfied: joblib in /opt/conda/lib/python3.8/site-packages (from nltk) (0.16.0)
Requirement already satisfied: click in /opt/conda/lib/python3.8/site-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.8/site-packages (from nltk) (4.48.2)
Requirement already satisfied: spacy in /opt/conda/lib/python3.8/site-packages (2.3.2)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.8/site-packages (from spacy) (49.6.0.post20200814)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/conda/lib/python3.8/site-packages (from spacy) (4.48.2)
Requirement already satisfied: thinc==7.4.1 in /opt/conda/lib/python3.8/site-packages (from spacy) (7.4.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/conda/lib/python3.8/site-packages (from spacy) (2.0.3)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /opt/conda/lib/python3.8/site-packages (from spacy) (1.0.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from spacy) (3.0.2)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /opt/conda/lib/python3.8/site-packages (from spacy) (0.4.1)
Requirement already satisfied: numpy>=1.15.0 in /opt/conda/lib/python3.8/site-packages (from spacy) (1.19.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /opt/conda/lib/python3.8/site-packages (from spacy) (1.1.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /opt/conda/lib/python3.8/site-packages (from spacy) (0.8.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/conda/lib/python3.8/site-packages (from spacy) (2.24.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /opt/conda/lib/python3.8/site-packages (from spacy) (1.0.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/conda/lib/python3.8/site-packages (from spacy) (1.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.25.10)

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
from snorkel.labeling import labeling_function
import nltk
import spacy

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
df_dev = pd.read_csv(r"df_dev.csv")

In [6]:
df_dev.head(5)

                                             content
0  Afreen Jamadar. Active member of IIIT Committe...
1  Alok Khandai. Operational Analyst (SQL DBA) En...
2  Anvitha Rao. Automation developer. . - Email m...
3  arjun ks. Senior Program coordinator - oracle ...
4  Arun Elumalai. QA Tester. . Chennai, Tamil Nad...

In [7]:
from nltk import sent_tokenize as st

df_token_sentence = pd.DataFrame(columns=None)

df_token_sentence = df_dev.apply(lambda row: st(row['content']), axis=1)

In [8]:
df_token_sentence.head(2)

0    [Afreen Jamadar., Active member of IIIT Commit...
1    [Alok Khandai., Operational Analyst (SQL DBA) ...
dtype: object

In [9]:
df_token_sentence.to_csv(r"df_token_sentence.csv", header=['content'], index = False)

In [10]:
df_ts = pd.read_csv(r"df_token_sentence.csv")

In [11]:
df_ts.head(1)

                                             content
0  ['Afreen Jamadar.', 'Active member of IIIT Com...

In [12]:
keep = False
df = df_ts
column = 'content'
sep = ','
indexes = list()
new_values = list()
df = df.dropna(subset=[column])
for i, presplit in enumerate(df[column].astype(str)):
    values = presplit.split(sep)
    if keep and len(values) > 1:
        indexes.append(i)
        new_values.append(presplit)
    for value in values:
        indexes.append(i)
        new_values.append(value)
new_df = df.iloc[indexes, :].copy()
new_df[column] = new_values
print(new_df)

                                               content
0                                   ['Afreen Jamadar.'
0     'Active member of IIIT Committee in Third year.'
0                                                  '.'
0                                              'Sangli
0     Maharashtra - Email me on Indeed: indeed.com/...
..                                                 ...
665                                                '.'
665                                'ACADEMIC PROJECT.'
665   'Project name:  A Case Study Undertaken to Kn...
665                                Anti-Oxidants and.'
665   'Liver Tests in the Etiology of Turner Syndro...

[86279 rows x 1 columns]

In [13]:
new_df.to_csv(r"tokenized_sentences.csv", index = False)

In [14]:
df_spacy = pd.read_csv(r"tokenized_sentences.csv")

In [15]:
df_spacy.head(3)

                                             content
0                                 ['Afreen Jamadar.'
1   'Active member of IIIT Committee in Third year.'
2                                                '.'

In [16]:
len(df_spacy['content'])

86272

In [17]:
remove_punct = df_spacy['content'][2]

In [18]:
df_spacy = df_spacy[df_spacy.content!=remove_punct]

In [19]:
print(df_spacy.head(5))
print(len(df_spacy))

                                             content
0                                 ['Afreen Jamadar.'
1   'Active member of IIIT Committee in Third year.'
3                                            'Sangli
4   Maharashtra - Email me on Indeed: indeed.com/...
6                        'I wish to use my knowledge
69502

In [20]:
df_spacy.to_csv(r"1st_level_cleaned_sentences.csv", index=False, header=['content'])

In [21]:
df_spacy = pd.read_csv("1st_level_cleaned_sentences.csv")
df_spacy.head(10)

                                             content
0                                 ['Afreen Jamadar.'
1   'Active member of IIIT Committee in Third year.'
2                                            'Sangli
3   Maharashtra - Email me on Indeed: indeed.com/...
4                        'I wish to use my knowledge
5   skills and conceptual understanding to create...
6   'environments and work consistently achieving...
7            'and work to excellence in my work.. .'
8                                 'WORK EXPERIENCE.'
9   'Active member of IIIT Committee in Third year.'

In [22]:
def clean_text(text):
    text = str(text) 
    text = text.replace("'", "")
    text = text.replace("[", "")
    text = text.replace("]","")
    return text

df_spacy['content']= df_spacy['content'].apply(clean_text)

In [24]:
df_spacy.to_csv("cleaned_sentences.csv", index=False, header=['content'])

In [25]:
import pandas as pd
from snorkel.labeling import labeling_function
import nltk

import spacy
nlp = spacy.load("en_core_web_sm")

In [26]:
df_spacy = pd.read_csv(r"cleaned_sentences.csv")

In [36]:
ABSTAIN = -1
NAME = 1
SKILL = 2
EMAIL = 3
PHONE = 4

### Information Extraction

In [37]:
import re
@labeling_function()
def lf_phone_extraction(x):
    x = x.to_string()
    text = x.lower()
    pattern = r'[\+\(]?[1-9][0-9 .\-\(\)]{8,}[0-9]'    
    match = re.findall(pattern, text)
    if(len(match)> 0):
        print("Found Phone: ", match, " In: ",text)
        return PHONE
    else:
        return ABSTAIN

In [38]:
import json
@labeling_function()
def lf_skill_extraction(x):
    x = x.to_string()
    text = x.lower()
    text = text.strip()
    obj = None
    with open('cleaned_skills.json', 'r') as skills:
        data = skills.read()
        obj = json.loads(data)
    for skill in obj:
        skill = skill.lower()
        skill = (" " + skill + " ")
        if(skill in text):
            print("Found Skill: ", skill, " In: ",text)
            return SKILL
    return ABSTAIN

In [39]:
import re
@labeling_function()
def lf_email_extraction(x):
    x = x.to_string()
    ners = nlp(x)
    text = x.lower()
    pattern = '[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}'
    match = re.findall(pattern, text)
    if(len(match)> 0):
        print("Found Email: ", match, " In: ",text)
        return EMAIL
    else:
        return ABSTAIN

In [40]:
# TODO: Work on getting less false positives
from spacy.matcher import Matcher
@labeling_function()
def lf_name_extraction(x):
    x = str(x)
    nlp = spacy.load('en_core_web_sm')
    matcher = Matcher(nlp.vocab)
    nlp_text = nlp(x)
    pattern = [{'POS': 'PROPN'}, {'POS': 'PROPN'}]
    matcher.add('NAME', None, pattern)
    matches = matcher(nlp_text)
    if len(matches)>0:
        for match_id, start, end in matches:
            span = nlp_text[start:end]
            print("Found Name: ", span)
        return NAME
           
    else:
        return ABSTAIN
@labeling_function()
def lf_temp1(x):
    return ABSTAIN
    
@labeling_function()
def lf_temp2(x):
    return ABSTAIN

In [41]:
from snorkel.labeling import PandasLFApplier
from snorkel.labeling.model import LabelModel

In [45]:
lfs = [lf_phone_extraction, lf_email_extraction, lf_skill_extraction, lf_name_extraction]

In [46]:
applier = PandasLFApplier(lfs)

In [ ]:
L_train = applier.apply(df_spacy)

In [ ]:
label_model = LabelModel(cardinality=3, verbose=True)

In [ ]:
label_model.fit(L_train, n_epochs=500, log_freq=50, seed=123)

In [ ]:
df_spacy["label"] = label_model.predict(L=L_train, tie_break_policy="abstain")

In [ ]:
df_spacy["label"]

In [ ]:
df_spacy.to_csv(path_or_buf = 'snorkel_labeled.csv',index=False)
df_spacy = df_spacy[df_spacy.label != ABSTAIN]